*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container{
    height: 100vh;
    width: 100vw;
    background-image: url("bgfin.png");
    background-size: cover;
}

.score{
    color: white;
}
.gameOver{
    visibility: hidden;
    color: white;
}
.tanjiro{
    height: 20%;
    width: 20%;
    background-image: url("tanjiro.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 20%;
    
}

.akaza{
    height: 20%;
    width: 20%;
    background-image: url("akaza.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 20%;

}

.animateTanjiro{
    animation: jump 1.5s linear;
}

.animateAkaza{
    animation: move 3.5s linear 0s infinite normal;

}

@keyframes jump{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50%;
    }
    100%{
        bottom: 0;
    }
}
@keyframes move{
    0%{
        right: -20%;
    }
    100%{
        right: 100%;
    }
}